@import "tailwindcss";
@import "@fontsource/playfair-display";

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: #050505;
  color: #f5e9d6;
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

input {
  background: transparent;
  border: 1px solid #c9a36b66;
  padding: 12px;
  border-radius: 6px;
}
